//color scheme
$color-main-light: #fff;
$color-main-dark: #3c3d41;
$color-primary-1: #ee7242;
$color-text-1: #00303e;


//screen size
$screen-sm: "screen and (max-width: 768px)";
$screen-md: "screen and (min-width: 768px, max-width: 992px)";
$screen-lg: "screen and (min-width: 992px)";
